[submodule "android_platform_dalvik"]
	path = android_platform_dalvik
	url = git@github.com:columbia/android_platform_dalvik.git
[submodule "android_platform_libcore"]
	path = android_platform_libcore
	url = git@github.com:columbia/android_platform_libcore.git
[submodule "android_platform_frameworks_base"]
	path = android_platform_frameworks_base
	url = git@github.com:columbia/android_platform_frameworks_base.git
[submodule "android_platform_frameworks_native"]
	path = android_platform_frameworks_native
	url = git@github.com:columbia/android_platform_frameworks_native.git
[submodule "android_platform_system_vold"]
	path = android_platform_system_vold
	url = git@github.com:columbia/android_platform_system_vold.git
[submodule "android_platform_system_core"]
	path = android_platform_system_core
	url = git@github.com:columbia/android_platform_system_core.git
[submodule "TMAnalyzer"]
	path = TMAnalyzer
	url = git@github.com:columbia/TMAnalyzer.git
[submodule "TMTestApp"]
	path = TMTestApp
	url = git@github.com:columbia/TMTestApp.git
[submodule "DroidBench"]
	path = DroidBench
	url = git@github.com:columbia/DroidBench.git
